*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 66, 66);
}

header{
    height: 120px;
    padding: 2rem;
    border-bottom: 1px solid rgb(104, 102, 102) ;

}

span{
    margin-left: 1rem;
    font-size: 1.7rem;
    color: rgb(104, 102, 102);
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar ul{
    list-style: none;
}

ul li{
    display: inline-block;
    padding: 0 2rem 0 0;
}

ul li:last-child{
    padding: 0.3rem 0;
    border-bottom: 4px solid rgb(37, 145, 247);
}

ul li a{
    text-decoration: none;
    color: rgb(104, 102, 102);
}

main{
    width: 60%;
    margin: 0 auto;
}

.question{
    margin: 2rem 0;
}

.question h2{
    line-height:2rem;
}